@model AboutViewModel
@{
    ViewData["Title"] = "Hidro İzmir - " + ViewBag.Name;
    ViewData["Description"] = "Hidro izmir Hidrolik sistemler";
    ViewData["Keywords"] = "hidrolik, izmir hirolik, pnömatik, hidrolik uygulamlar, hidrolik sistemler,hidrolik pompa,hidrolik presler,hidrolik piston,hidrolik pnömatik,hidrolik hortum,hidrolik piston fiyatları,hidrolik pompa fiyatları";
}
@{
    var activeTab = "active-tab";
    var activeBtn = "active-btn";

}

<!--tabs-section-->
<section class="tabs-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column content-column col-lg-7 col-md-12 col-sm-12">
                <!--Tabs Box-->
                <div class="tabs-box tabs-style-one">
                    <!--Tab Buttons-->
                    <ul class="tab-buttons clearfix">
                        <li data-tab="#tab-one" class="tab-btn @if(Model.Name == "hakkimizda"){@activeBtn}">Biz Kimiz</li>
                        <li data-tab="#tab-two" class="tab-btn @if(Model.Name == "misyonumuz"){@activeBtn}">Misyonumuz</li>
                        <li data-tab="#tab-three" class="tab-btn @if (Model.Name == "vizyonumuz"){@activeBtn}">Vizyonumuz</li>
                    </ul>

                    <!--Tabs Content-->
                    <div class="tabs-content">

                        <!--Tab / Active Tab-->
                        <div class="tab @if(Model.Name == "hakkimizda"){@activeTab}" id="tab-one">
                            <div class="text-content">
                                <div class="text">
                                    @Html.Raw(Model.About.Abouts)
                                </div>
                            </div>
                        </div>
                        <!--Tab-->
                        <div class="tab @if(Model.Name == "misyonumuz"){@activeTab}" id="tab-two">
                            <div class="text-content">
                                <div class="text">
                                    @Html.Raw(Model.About.Mission)
                                </div>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab @if(Model.Name == "vizyonumuz"){@activeTab}" id="tab-three">
                            <div class="text-content">
                                <div class="text">
                                    @Html.Raw(Model.About.Vission)
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="column col-lg-5  col-md-6 col-sm-8 xs-12">
                <div class="image-box">
                    <img src="~/images/about-logo.jpg" alt="" />
                </div>
            </div>

        </div>
    </div>
</section>