@{
    var fullName = Model.User.Name + " " + Model.User.Surname;
}


<div id="aside" class="app-aside modal nav-dropdown">
    <!-- fluid app aside -->
    <div class="left navside dark dk" data-layout="column">
        <div class="navbar no-radius">
            <!-- brand -->
            <a class="navbar-brand">
                <div ui-include="'../assets/images/logo.svg'"></div>
                <img src="../assets/images/logo.png" alt="." class="hide">
                <span class="hidden-folded inline">Hidro İzmir</span>
            </a>
            <!-- / brand -->
        </div>
        <div class="hide-scroll" data-flex>
            <nav class="scroll nav-light">

                <ul class="nav" ui-nav>
                    <li class="nav-header hidden-folded">
                        <small class="text-muted">Panel</small>
                    </li>

                    <li>
                        <a href="/Admin">
                            <span class="nav-icon">
                                <i class="fa fa-home"></i>

                            </span>
                            <span class="nav-text">Ana Sayfa</span>
                        </a>
                    </li>

                    <li>
                        <a>
                            <span class="nav-caret">
                                <i class="fa fa-caret-down"></i>
                            </span>
                            
                            <span class="nav-icon">
                                <i class="material-icons">
                                    &#xe5c3;
                                    <span ui-include="'../assets/images/i_1.svg'"></span>
                                </i>
                            </span>
                            <span class="nav-text">Ürün Yönetimi</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a asp-controller="Admin" asp-action="ProductAdd">
                                    <span class="nav-text">Ürün Ekle</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Admin" asp-action="ProductDetail">
                                    <span class="nav-text">Ürünleri Listele</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Login" asp-action="Logout">
                            <span class="nav-icon">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            <span class="nav-text">Çıkış Yap</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <div class="b-t">
            <div class="nav-fold">
                <a href="profile.html">
                    <span class="pull-left">
                        <img src="~/assets/images/pp.png" alt="..." class="w-40 img-circle">
                    </span>
                    <span class="clear hidden-folded p-x">
                        <span class="block _500">@fullName</span>
                        <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>