@{

}

<!-- Preloader -->
<div class="preloader"><div class="loader"><div class="cssload-container"><div class="cssload-speeding-wheel"></div></div></div></div>

<!-- Main Header-->
<header class="main-header header-style-one">
    <!-- Header Top End -->
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">

                <div class="pull-left logo-outer">
                    <div class="logo"><a asp-action="Index" asp-controller="Home"><img src="~/images/logo.png" alt="Hidro İzmir" title="Hidro İzmir"></a></div>
                </div>

                <div class="pull-right upper-right clearfix">

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><span class="flaticon-location-pin"></span></div>
                        <ul>
                            <li><strong>Pzt - Cmt : 9.00 - 17.30</strong></li>
                            <li>Pazar : Kapalı</li>
                        </ul>
                    </div>

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><span class="flaticon-technology"></span></div>
                        <ul>
                            <li><strong>@Model.ContactPage.Phone1</strong></li>
                            <li>@Model.ContactPage.Phone2</li>
                        </ul>
                    </div>

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <!--<div class="link-btn">
                            <a href="#" class="theme-btn btn-style-one">get a quote</a>
                        </div>-->

                        <div class="icon-box"><span class="flaticon-inbox"></span></div>
                        <ul>
                            <li><strong>İndir</strong></li>
                            <li>PDF Katalog</li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Header-Lower-->
    <div class="header-lower">

        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <partial name="_mainMenu" />
                <!-- Main Menu End-->
                <div class="btn-outer"><a href="contact.html" class="theme-btn quote-btn"><span class="fa fa-mail-reply-all"></span> Bize Ulaşın</a></div>
            </div>

        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" class="img-responsive"><img src="~/images/small-logo.png" alt="Hidro İzmir" title="Hidro İzmir"></a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <partial name="_mainMenu" />
                <!-- Main Menu End-->
            </div>

        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->