<!-- Preloader -->
<div class="preloader"><div class="loader"><div class="cssload-container"><div class="cssload-speeding-wheel"></div></div></div></div>

<!-- Main Header-->
<header class="main-header header-style-one">
    <!-- Header Top -->
    @*<div class="header-top">
        <div class="auto-container clearfix">
            <!--Top Left-->
            <div class="top-left pull-left">
                <ul class="links-nav clearfix">
                    <li><span class="fa fa-check-square-o"></span> No.1 Tedarikçi</li>
                    <li><span class="fa  fa-support"></span> Certified ISO 9001 : 2008</li>
                    <li><span class="fa fa-bell-o"></span> Leading Service Provider</li>
                </ul>
            </div>

            <!--Top Right-->
            <div class="top-right pull-right">
                <ul class="links-nav clearfix">
                    <li><span class="fa fa-star-o"></span> Award Wining Firm</li>
                    <li><span class="fa fa-globe"></span> English</li>
                </ul>
            </div>
        </div>
    </div>*@
    <!-- Header Top End -->
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">

                <div class="pull-left logo-outer">
                    <div class="logo"><a asp-action="Index" asp-controller="Home"><img src="images/logo.png" alt="Hidro İzmir" title="Hidro İzmir"></a></div>
                </div>

                <div class="pull-right upper-right clearfix">

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><span class="flaticon-location-pin"></span></div>
                        <ul>
                            <li><strong>Pzt - Cmt : 9.00 - 17.30</strong></li>
                            <li>Pazar : Kapalı</li>
                        </ul>
                    </div>

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <div class="icon-box"><span class="flaticon-technology"></span></div>
                        <ul>
                            <li><strong>0(232)-618-02-35</strong></li>
                            <li>info@hidroizmir.com</li>
                        </ul>
                    </div>

                    <!--Info Box-->
                    <div class="upper-column info-box">
                        <!--<div class="link-btn">
                            <a href="#" class="theme-btn btn-style-one">get a quote</a>
                        </div>-->

                        <div class="icon-box"><span class="flaticon-inbox"></span></div>
                        <ul>
                            <li><strong>İndir</strong></li>
                            <li>PDF Katalog</li>
                        </ul>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Header-Lower-->
    <div class="header-lower">

        <div class="auto-container">
            <div class="nav-outer clearfix">
                <!-- Main Menu -->
                <partial name="_mainMenu" />
                <!-- Main Menu End-->
                <div class="btn-outer"><a href="contact.html" class="theme-btn quote-btn"><span class="fa fa-mail-reply-all"></span> Get a Quote</a></div>
            </div>

        </div>
    </div>

    <!--Sticky Header-->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="Brighton" title="Brighton"></a>
            </div>

            <!--Right Col-->
            <div class="right-col pull-right">
                <!-- Main Menu -->
                <partial name="_mainMenu" />
                <!-- Main Menu End-->
            </div>

        </div>
    </div>
    <!--End Sticky Header-->

</header>
<!--End Main Header -->